<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SenHotel</display-name>
  <error-page>
    <exception-type>com.senhotel.project.RequestInvalidException</exception-type>
    <location>/requestinvalid.jspx</location>
  </error-page>
  <filter>
    <display-name>LoginValidationFilter</display-name>
    <filter-name>LoginValidationFilter</filter-name>
    <filter-class>com.senhotel.project.LoginValidationFilter</filter-class>
    <init-param>
      <param-name>login</param-name>
      <param-value>/welcome.jspx</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginValidationFilter</filter-name>
    <url-pattern>/</url-pattern>
    <url-pattern>*.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>RedirectFilter</display-name>
    <filter-name>RedirectFilter</filter-name>
    <filter-class>ca.on.senecac.prg556.common.RedirectFilter</filter-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>/availablehotels.jspx</param-value>
    </init-param>
    <init-param>
      <param-name>method</param-name>
      <param-value>REDIRECT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RedirectFilter</filter-name>
    <url-pattern>/</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>ControlFilter</display-name>
    <filter-name>ControlFilter</filter-name>
    <filter-class>ca.on.senecac.prg556.common.ControlFilter</filter-class>
    <init-param>
      <param-name>control-filter-properties</param-name>
      <param-value>/WEB-INF/control-filter.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ControlFilter</filter-name>
    <url-pattern>*.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>SenHotelMenuFilter</filter-name>
    <filter-class>com.senhotel.project.SenHotelMenuFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SenHotelMenuFilter</filter-name>
    <url-pattern>/senhotelmenu.jspx</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
</web-app>